<% include ../partials/header %>
<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center p-3 col-12">Log In</h1>
        <div class="col-md-8 col-lg-6 col-10">
            <form action="/login" method="post">
                <input class="form-control form-group" type="text" name="username" id="" placeholder="Username">
                <input class="form-control form-group" type="password" name="password" id="" placeholder="Password">
                <input class="form-group btn-block btn btn-primary" type="submit" value="Log In">
            </form>
            <a class="" href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>